<div class="confirmAlert">
        <div class="col-sm-2 col-sm-offset-8 alertClose">
                <span class="close alert_close" ng-click="delete_alert()"> &times;</span></div>
    <div class="col-sm-8 col-sm-offset-2 alert-loginDepart">
        <div class="col-sm-12" style="padding-bottom:2rem;">
            <ul class="nav center-block nav-list">
                <li><span class="col-sm-2">编号:</span><span ng-bind="logindepartData.id"></span></li>
                <li><span class="col-sm-2">站区编号:</span><span ng-bind="logindepartData.departid"></span></li>
                <li><span class="col-sm-2">站区名称:</span><span ng-bind="logindepartData.departname"></span></li>
                <li><span class="col-sm-2">站区描述:</span><span ng-bind="logindepartData.description"></span></li>
            </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-5">
            <button class="btn btn-primary  col-sm-3 col-sm-offset-3" ng-click="delete_alert()">关闭</button>
        </div>
    </div>
</div>