
<div class="confirmAlert">
        <div class="col-sm-2 col-sm-offset-8 alertClose">
                <span class="close alert_close" ng-click="delete_alert()"> &times;</span></div>
    <div class="col-sm-8 col-sm-offset-2 alert-shenhe">
        <div class="col-sm-12" style="padding-bottom:2rem;">
            <ul class="nav center-block nav-list">
                <li><span class="col-sm-2">编号:</span><span ng-bind="loginuserData.id"></span></li>
                <li><span class="col-sm-2">用户名:</span><span ng-bind="loginuserData.userid"></span></li>
                <li><span class="col-sm-2">姓名:</span><span ng-bind="loginuserData.name"></span></li>
                <li><span class="col-sm-2">电话:</span><span ng-bind="loginuserData.tel"></span></li>
                <li><span class="col-sm-2">邮箱:</span><span ng-bind="loginuserData.email"></span></li>
                <li><span class="col-sm-2">站区:</span><span ng-bind="loginuserData.departname"></span></li>
                <li><span class="col-sm-2">申请角色:</span><span ng-bind="loginuserData.rolename"></span></li>
                <li><span class="col-sm-2">身份证号:</span><span ng-bind="loginuserData.idnumber"></span></li>
                <li><span class="col-sm-2">注册时间:</span><span ng-bind="loginuserData.regtime| date:'yyyy年MM月dd日'"></span></li>
            </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-2">
            <button class="btn btn-info col-sm-3 col-sm-offset-3" ng-click="shenheData(loginuserData.id);delete_alert()">审核通过</button>
            <button class="btn btn-primary  col-sm-3 col-sm-offset-3" ng-click="delete_alert()">关闭</button>
        </div>
    </div>
</div>