<div id="user_data" class="container" ng-controller="user_Index_Ctrl">
    <!--信息不完整下补全信息-->
    <div class="panel panel-info" ng-show="!indexData">
        <div class="panel-heading">
            <h2 class="panel-title">补全资料</h2>
        </div>
        <div class="panel-body">
            <h10 class="text-primary">请补全您的信息，方便获取系统更多的功能</h10>
        </div>

        <form class="form form-horizontal" name="myaddForm" action="../addData.action" method="post" color-input>
            <div class="form-group" login-msg></div>
            <div class="form-group">
                <label class="control-label col-sm-2">邮箱</label>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="userAdd.email" name="email" required ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/">
                    </div>
                    <div class="col-sm-4 text-alert text-danger" ng-show="myaddForm.email.$dirty" ng-messages="myaddForm.email.$error">
                        <span ng-message="required">邮箱不能为空</span>
                        <span ng-message="pattern">邮箱格式不正确</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">姓名</label>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="userAdd.name" name="name" required ng-pattern="/^[\u4e00-\u9fa10a-zA-Z]+$/"
                            ng-maxlength="10">
                    </div>
                    <div class="col-sm-4 text-alert text-danger" ng-show="myaddForm.name.$dirty" ng-messages="myaddForm.name.$error">
                        <span ng-message="required">姓名不能为空</span>
                        <span ng-message="maxlength">姓名最长为10位</span>
                        <span ng-message="pattern">姓名应为汉字或字母</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">身份证号</label>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="userAdd.idnumber" name="idnumber" required ng-pattern=" /(^\d{110}$)|(^\d{112}$)|(^\d{17}(\d|X|x)$)/">
                    </div>
                    <div class="col-sm-4 text-alert text-danger" ng-show="myaddForm.idnumber.$dirty" ng-messages="myaddForm.idnumber.$error">
                        <span ng-message="required">身份证号不能为空</span>
                        <span ng-message="pattern">身份证号格式不正确</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="departselect" class="control-label col-sm-2">站区选择</label>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <select name="depart" id="departselect" ng-model="userAdd.depart" class="form-control" ng-options="item.id as item.name for item in selectdata.depart">
                            <option value="">请选择站区</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="roleselect" class="control-label col-sm-2">角色选择审核</label>
                <div class="col-sm-10">
                    <div class="col-sm-6">
                        <select name="role" id="roleselect" ng-model="userAdd.role" class="form-control" ng-options="item.id as item.name for item in selectdata.role">
                            <option value="">请选择角色</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group"><button type="submit" class="btn btn-info col-sm-2 col-sm-offset-4" ng-disabled="(userAdd.email&&userAdd.name&&userAdd.idnumber&&userAdd.depart)?false:true"
                    ng-submit="removecookie()">提 交</button></div>
        </form>
    </div>
    <!--信息完整下显示信息-->
    <div class="panel panel-info" ng-show="indexData">
        <!--ng-if="!indexData"-->
        <div class="panel-heading">
            <h2 class="panel-title">基本资料</h2>
        </div>
        <div class="panel-body">
            <h10 class="text-primary">请补全您的信息，方便获取系统更多的功能</h10>
            <div class="col-sm-12">
                <div class="col-sm-1 pull-right ">
                    <button type="button" class=" btn btn-info" ng-click="upDate=!upDate">编辑资料</button>
                </div>
                <div class="col-sm-1 pull-right">
                    <button ype="button" class="btn btn-info" ng-click="upDatePass=!upDatePass">修改密码</button>
                </div>
                <div class="col-sm-1 pull-right">
                    <button ype="button" class="btn btn-info" ng-click="upDateRole=!upDateRole">角色审核</button>
                </div>
            </div>
            <div class="col-sm-12">
                <ul class="nav center-block nav-list">
                    <li><span class="col-sm-2">帐号:</span><span ng-bind="userData.id"></span></li>
                    <li><span class="col-sm-2">昵称:</span><span ng-bind="userData.nic"></span></li>
                    <li><span class="col-sm-2">姓名:</span><span ng-bind="userData.name"></span></li>
                    <li><span class="col-sm-2">电话:</span><span ng-bind="userData.tel"></span></li>
                    <li><span class="col-sm-2">邮箱:</span><span ng-bind="userData.email"></span></li>
                    <li><span class="col-sm-2">站区:</span><span ng-bind="userData.depart"></span></li>
                    <li><span class="col-sm-2">角色:</span><span ng-bind="userData.role"></span></li>
                    <li><span class="col-sm-2">身份证号:</span><span ng-bind="userData.idnumber"></span></li>
                    <li><span class="col-sm-2">注册时间:</span><span ng-bind="userData.regtime| date:'yyyy年MM月dd日'"></span></li>
                </ul>
            </div>
        </div>
        <div class="back_box" ng-show="upDateRole">
            <div class="panel panel-info col-sm-6 col-sm-offset-3 ">
                <div class="panel-heading">
                    <h2 class="panel-title">角色审核</h2>
                    <span class="close glyphicon glyphicon-remove" ng-click="upDateRole=!upDateRole;remove()"></span>
                </div>
                <form class="form form-horizontal panel-body">
                    <div class="form-group">
                        <label for="updaterole" class="col-sm-3 control-label">选择角色</label>
                        <div class="col-sm-8">
                            <select name="updaterole" id="updaterole" ng-model="updateData.role" class="form-control" ng-options="item.id as item.name for item in selectdata.role">   
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            <button class="btn btn-info  col-sm-3 col-sm-offset-4" ng-click="UpdateData('updateRole')">提 交</button>
                        </div>
                </form>
            </div>
        </div>
        <div class="back_box " ng-show="upDatePass">
            <div class="panel panel-info col-sm-6 col-sm-offset-3 ">
                <div class="panel-heading">
                    <h2 class="panel-title">修改信息</h2>
                    <span class="close glyphicon glyphicon-remove" ng-click="upDatePass=!upDatePass;remove()"></span>
                </div>
                <form class="form form-horizontal panel-body" name="myFormPass">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">旧密码</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12"><input type="password" name="myoldPass" ng-model="updateData.oldPass" placeholder="请输入旧密码" class="form-control"
                                    required></div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 text-alert control-label text-danger" ng-show="myFormPass.myoldPass.$dirty" ng-messages="myFormPass.myoldPass.$error">
                            <span ng-message="required">密码不能为空</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12"><input type="password" name="newPass" ng-model="updateData.newpass" placeholder="请输入新密码" class="form-control"
                                    required ng-minlength="6" ng-maxlength="16" ng-pattern="/^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?![,\.#%'\+\*\-:;^_`]+$)[,\.#%'\+\*\-:;^_`0-9A-Za-z]{6,16}$/"></div>

                        </div>
                        <div class="col-sm-10 col-sm-offset-2 text-alert control-label text-danger" ng-show="myFormPass.newPass.$dirty" ng-messages="myFormPass.newPass.$error">
                            <span ng-message="required">密码不能为空</span>
                            <span ng-message="minlength">密码不能小于6位</span>
                            <span ng-message="maxlength">密码不能大于16位</span>
                            <span ng-message="pattern">密码应为字母、数字和符号两种及以上的组合</span>
                        </div>
                        <div class="col-sm-10 col-sm-offset-3" style="font-size:8px;">密码为字母、数字和符号两种及以上的组合，6-16个字符</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12"><input type="password" name="mynewPass" ng-model="updateData.newPass" placeholder="请再次输入新密码"
                                    class="form-control" required></div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 text-alert control-label text-danger" ng-show="myFormPass.mynewPass.$dirty" ng-messages="myFormPass.mynewPass.$error">
                            <span ng-message="required">密码不能为空</span>
                            <span ng-show="updateData.newpass!=updateData.newPass">两次密码不符</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info  col-sm-3 col-sm-offset-4" ng-click="UpdateData('updatePwd')">提 交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="back_box " ng-show="upDate">
            <div class="panel panel-info col-sm-6 col-sm-offset-3">
                <div class="panel-heading">
                    <h2 class="panel-title">修改信息</h2>
                    <span class="close glyphicon glyphicon-remove" ng-click="upDate=!upDate;remove()"></span>
                </div>
                <form class="form form-horizontal panel-body" name="myForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">昵称</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12"><input type="text" name="myNic" ng-model="updateData.nic" placeholder="{{userData.nic}}" class="form-control"
                                    required ng-maxlength="12"></div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 text-alert control-label text-danger" ng-show="myForm.myNic.$dirty" ng-messages="myForm.myNic.$error">
                            <span ng-message="required">昵称不能修改为空</span>
                            <span ng-message="maxlength">昵称长度不能超过12</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12"><input type="text" name="myName" ng-model="updateData.name" placeholder="{{userData.name}}" class="form-control"
                                    required ng-pattern="/^[\u4e00-\u9fa10a-zA-Z]+$/"></div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 text-alert control-label text-danger " ng-show="myForm.myName.$dirty" ng-messages="myForm.myName.$error">
                            <span ng-message="required">姓名不能修改为空</span>
                            <span ng-message="pattern">姓名格式不正确</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">邮箱</label>
                        <div class="col-sm-8">
                            <div class="col-sm-12"><input type="email" name="myEmail" ng-model="updateData.email" placeholder="{{userData.email}}"
                                    class="form-control" required></div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 text-alert control-label text-danger " ng-show="myForm.myEmail.$dirty" ng-messages="myForm.myEmail.$error">
                            <span ng-message="required">邮箱不能修改为空</span>
                            <span ng-message="email">邮箱格式不正确</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info  col-sm-3 col-sm-offset-4" ng-click="UpdateData('updateDate')">提 交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>