
.form_box{
    position: relative;
    top:10rem;
    padding-top:1rem;
    background: rgba(33, 35, 36, 0.73);
    border-radius: 0.5rem;
    color: #fff;
}

.login a{
    color: #fff!important;
}
.visi{
    visibility: hidden;
}
.radio_class{
    text-align: center;

}
.radio_class label{
    margin-left: 0!important;
}