<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.UserUtilMapper">
 <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.UserInf">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="CHAR" property="userid" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="tel" jdbcType="CHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="idnumber" jdbcType="CHAR" property="idnumber" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="regtime" jdbcType="TIMESTAMP" property="regtime" />
    <result column="departId" jdbcType="INTEGER" property="departid" />
  </resultMap>
    <!--分页查询语句-->
    <sql id="selectDataPaging">
      SELECT  * FROM ${name} limit #{offset}, #{pageSize}
    </sql>

    <!--查询总数量-->
    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM ${name}
        <if test="roleState !=null">
            WHERE role_state=#{roleState}
        </if>
    </select>
    <!--查询注释信息-->
    <select id="selectNotes" resultType="java.util.LinkedHashMap">
        show FULL COLUMNS FROM ${name}
    </select>

    <select id="selectPaging" resultType="java.util.LinkedHashMap">
        SELECT
        <choose>
            <when test="name == 'page_inf'">
              id,application_id as applicationId,parent_id as parentId,
                (select p.pagename from page_inf p where p.id = page_inf.parent_id) as parentName,
               pagename,url,perms,type,icon,order_num,detail
            </when>
            <otherwise>
                *
            </otherwise>
        </choose>
        FROM ${name}
        <if test="roleState !=null">
            WHERE role_state=#{roleState}
        </if>
        <if test="name == 'page_inf'">
            order by order_num asc
        </if>
        <if test="name == 'user_manager'" >
            order by userid asc
        </if>
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectInspectData" resultType="hashmap">
        SELECT * FROM ${tableName} WHERE ${listName}=#{listValue}
    </select>


<select id="selectUDRView"  parameterType="cn.itcast.ssm.po.UserInf" resultType="map">
select departname, rolename from user_department_role_view where

<if test="userInf.tel != null">
tel=#{userInf.tel,jdbcType=CHAR}
</if>
<if test="userInf.idnumber != null">
idnumber=#{userInf.idnumber,jdbcType=CHAR}
</if>


</select>

    <select id="selectUserPermission" resultType="string">
        SELECT perms FROM user_permission WHERE userid=#{userId} AND role_state='1'
    </select>

    <select id="selectAllPageId" resultType="integer">
        select page_id from user_permission where userid=#{userId} AND role_state='1'
    </select>

</mapper>